<ActionBar title="{RR} Login Example">
    <NavigationButton text="Back" ios.position="left"></NavigationButton>
</ActionBar>
<GridLayout backgroundColor="#CCCCCC">
    <ScrollView>
        <StackLayout margin="10" verticalAlignment="center">
            <StackLayout class="form" padding="15" backgroundColor="#FFFFFF">
                <StackLayout class="input-field">
                    <Label text="Email" class="label font-weight-bold m-b-5"></Label>
                    <TextField class="input" [(ngModel)]="user.email"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout class="input-field">
                    <Label text="Password" class="label font-weight-bold m-b-5"></Label>
                    <TextField secure="true" class="input" [(ngModel)]="user.password"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <Button class="btn btn-primary w-full" text="Register" (tap)="signUp()"></Button>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>
